table, td, th { 
    border: 1px solid black;
    text-align: left;   
    margin-left: 60px;
    font-size:15px;    
    }   
    table {
    border-collapse: collapse;
    width: 80%;    
    }
    th, td {
    padding: 5px;
    }
    th{
        color:#1E90FF;
      }
   
    .heading_style{
        margin-left: 60px;
    }
    .addbuttnstyle{
        padding: 5px;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    li{                
    display:inline-block;
    margin:5px;
    font-size: 20px;
      }
            ul{
                margin-left: 70px;
            }
       